.rs-differences {
  padding: 91px 0px 40px;
  position: relative;
  overflow: hidden;
  background-color: #eff9ff;
}

@media (max-width: 1140px) {
  .rs-differences {
    padding: calc(30px + (91 - 30) * ((100vw - 320px) / (1140 - 320))) 0px calc(30px + (40 - 30) * ((100vw - 320px) / (1140 - 320)));
  }
}

@media (min-width: 993px) {
  .rs-differences__wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .rs-differences__wrapper {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

.rs-differences__picture {
  position: relative;
}

@media (min-width: 993px) {
  .rs-differences__picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    z-index: 1;
  }
}

@media (max-width: 992px) {
  .rs-differences__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.rs-differences__prlx_wrapper {
  position: absolute;
  left: -208px;
  top: -36px;
}

@media (max-width: 1750px) and (min-width: 993px) {
  .rs-differences__prlx_wrapper {
    left: calc((-0px) + ((-208) - (-0)) * ((100vw - 992px) / (1750 - 992)));
    top: calc((50px) + ((-36) - (50)) * ((100vw - 992px) / (1750 - 992)));
    max-width: calc((400px) + ((502) - (400)) * ((100vw - 992px) / (1750 - 992)));
  }
}

@media (max-width: 992px) {
  .rs-differences__prlx_wrapper {
    position: relative;
    top: 0;
    left: 0;
    max-width: 502px;
    margin: 0 auto;
  }
  .rs-differences__prlx_wrapper img {
    max-width: 100%;
  }
}

.rs-differences__prlx_wrapper img {
  max-width: 100%;
}

.rs-differences__img {
  z-index: 3;
  position: relative;
}

.rs-differences__prlx-item {
  position: absolute;
}

.rs-differences__prlx-item.rs-differences__prlx-item-1 {
  z-index: 1;
  left: -8.5%;
  top: 20%;
}

@media (max-width: 1750px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-1 {
    width: calc((69.32px) + ((87) - (69.32)) * ((100vw - 992px) / (1750 - 992)));
    height: calc((94.02px) + ((118) - (94.02)) * ((100vw - 992px) / (768 - 992)));
  }
}

@media (max-width: 768px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-1 {
    width: calc((51.99px) + ((87) - (51.99)) * ((100vw - 320px) / (768 - 320)));
    height: calc((70.52px) + ((118) - (70.52)) * ((100vw - 320px) / (768 - 320)));
  }
}

.rs-differences__prlx-item.rs-differences__prlx-item-2 {
  z-index: 5;
  right: -8.5%;
  bottom: 39.5%;
}

@media (max-width: 1750px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-2 {
    width: calc((129.88px) + ((163) - (129.88)) * ((100vw - 992px) / (1750 - 992)));
    height: calc((131.47px) + ((165) - (131.47)) * ((100vw - 992px) / (768 - 992)));
  }
}

@media (max-width: 768px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-2 {
    width: calc((97.41px) + ((163) - (97.41)) * ((100vw - 320px) / (768 - 320)));
    height: calc((98.6px) + ((165) - (98.6)) * ((100vw - 320px) / (768 - 320)));
  }
}

.rs-differences__prlx-item.rs-differences__prlx-item-3 {
  z-index: 4;
  top: 4.5%;
  right: 7%;
}

@media (max-width: 1750px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-3 {
    width: calc((28.68px) + ((36) - (28.68)) * ((100vw - 992px) / (1750 - 992)));
    height: calc((27.09px) + ((34) - (27.09)) * ((100vw - 992px) / (768 - 992)));
  }
}

@media (max-width: 768px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-3 {
    width: calc((21.51px) + ((36) - (21.51)) * ((100vw - 320px) / (768 - 320)));
    height: calc((20.32px) + ((34) - (20.32)) * ((100vw - 320px) / (768 - 320)));
  }
}

.rs-differences__prlx-item.rs-differences__prlx-item-4 {
  z-index: 2;
  top: 34%;
  right: -5%;
}

@media (max-width: 1750px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-4 {
    width: calc((96.41px) + ((121) - (96.41)) * ((100vw - 992px) / (1750 - 992)));
    height: calc((96.41px) + ((121) - (96.41)) * ((100vw - 992px) / (768 - 992)));
  }
}

@media (max-width: 768px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-4 {
    width: calc((72.31px) + ((121) - (72.31)) * ((100vw - 320px) / (768 - 320)));
    height: calc((72.31px) + ((121) - (72.31)) * ((100vw - 320px) / (768 - 320)));
  }
}

.rs-differences__prlx-item.rs-differences__prlx-item-5 {
  z-index: 0;
  top: 4%;
  left: -19%;
}

@media (max-width: 1750px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-5 {
    width: calc((278.08px) + ((349) - (278.08)) * ((100vw - 992px) / (1750 - 992)));
    height: calc((278.08px) + ((349) - (278.08)) * ((100vw - 992px) / (768 - 992)));
  }
}

@media (max-width: 768px) {
  .rs-differences__prlx-item.rs-differences__prlx-item-5 {
    width: calc((208.56px) + ((349) - (208.56)) * ((100vw - 320px) / (768 - 320)));
    height: calc((208.56px) + ((349) - (208.56)) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (min-width: 993px) {
  .rs-differences__description {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6/13;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 992px) {
  .rs-differences__description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.rs-differences__description h2 {
  margin-bottom: 30px;
}

@media (max-width: 1140px) {
  .rs-differences__description h2 {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)));
  }
}

.rs-differences__description p {
  margin: 20px 0px;
  line-height: 26px;
}

@media (max-width: 1140px) {
  .rs-differences__description p {
    margin: calc(10px + (20 - 10) * ((100vw - 320px) / (1140 - 320))) 0px;
  }
}

.rs-differences__description ul {
  max-width: 576px;
}

.rs-differences__description h4 {
  color: #525151;
  margin-bottom: 12px;
}
